@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  body {
    display: flex;
    flex: 1;
    min-height: 100vh;
    min-width: 1000px;
    font-family: Arial, Helvetica, sans-serif;
  }

  header {
    display: flex;
    flex: 1;
    flex-shrink: 1;
    flex-direction: row;
    align-items: center;
    background-image: url(images/jeremy-bishop-EwKXn5CapA4-unsplash.jpg);
    background-size: cover;
  }

  header h1 {
    width: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    text-align: center;
  }

  header h1 a {
    display: inline-block;
    margin: 0 auto;
    background-image: url(images/odin-lined.png);
    background-position: center left;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 5px 5px 5px 100px;
    font-family: norsebold;
    font-size: 90px;
    color: white;
    text-decoration: none;
  }

  main {
    display: flex;
    flex: 2;
    flex-shrink: 0;
    min-width: 800px;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

  }

  main h2, main h3, main form, main p {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
  }

  main form {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: ivory;
    position: relative;
  }

  form::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);
    z-index: -1;
}
  
  form fieldset {
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  form legend {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
  }

  form p {
    padding-left: 0px;
    padding-right: 40px;
    float: left;
    width: 50%;
  }

  form label, form input {
    width: 100%;
  }

  form label {
    display: block;
    margin-bottom: 3px;
    font-size: 12px;
    text-transform: uppercase;
  }

  form input {
    display: block;
    margin-bottom: 15px;
    padding: 3px 5px;
    border: 1px solid #666;
  }

  form input:focus {
    border: 1px solid blue;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);

  }

  form input:valid {
    border: 1px solid darkgreen;
  }

  form input:focus:invalid {
    border: 1px dashed red;
  }

  form input:invalid {
    background-color: lightpink;
  }
  
  form button {
    padding: 5px 25px;
    margin-bottom: 20px;
    background-color: darkgreen;
    border-radius: 8px;
    color: white;
  }

  p a {
    color: darkgreen;
  }

  p.help-text {
    margin-top: 20px;
  }